.image1{
     width: 300px;
     height: 320px;
     padding: 10px;
     border-radius: 30px;
     }
.image2{
    width: 300px;
    height: 320px;
    padding: 10px;
    border-radius: 30px;
}

.image3{
    width: 300px;
    height: 260px;
    padding: 20px;
    position: absolute;
    top: 240px;
    left: 280px;
    border-radius: 30px;
}
.image4{
    width: 210px;
    height: 200px;
    position: absolute;
    top: 90px;
    left: 460px;
    border-radius: 10px;
}
.parentDiv{
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
}
.header
{
    font-family: 'Caveat', cursive;
    color:rgb(11, 130, 176);
}
.trackItem{
    background-color: skyblue;
    padding: 20px;
    user-select: none;
    cursor: pointer;
}
.progressBar{
    width: 150px;
    height: 2px;
    background-color: black;
    margin-top: 10px;
}
.currentProgress{
    width: 0px;
    height: 100%;
    background-color: white;
}
.musicPlayer{
    width: 140px;
    display: flex;
    justify-content: center;
    padding: 6px;
}
.previousButton, .nextButton{
    padding: 4px;
    font-size: 20px;
}
.playButton{
    display: none;
    padding: 4px;
    font-size: 20px;
}
.pauseButton{
    padding: 4px;
    font-size: 20px;

}
.currentAndTotalTime{
    width: 150px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}